@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
h1 h2 {
  font-family: "STIX Two Math", serif;
}
p {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #ee82e20f;
}
.top-section {
  height: 477px;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.top-banner {
  background-image: url("images/shapes/7.png");
}

.feature-area {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
span {
  color: rgb(224, 224, 22);
  font-size: 35px;
}
.link-btn {
  background-image: linear-gradient(orange black);
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 8px 15px;
  border-radius: 16px;
}
.middle-tex {
  padding: 100px 30px;
}
.about-img {
  width: 80%;
}
.about-food {
  height: 450px;
}
.feature-img {
  width: 505px;
  padding: 20px;
}
.about-food {
  background-image: url(images/shapes/Frame\ 59.jpg);
  background-repeat: no-repeat;
  opacity: 1;
  width: 100%;
  background-size: cover;
  padding-bottom: 87px;
}
.orange {
  color: orange;
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
}
.food-lover-said {
  width: 80%;
  margin: 0 auto;
}
.fd-text {
  font-family: arial;
  padding: 0px 75px;
}
.iteam-box {
  width: 80%;
  margin: 37px 142px;
}
.food-box {
  float: left;
  margin: 20px;
  box-shadow: 8px 13px 9px 12px rgba(25, 25, 172, 0.1);
  width: 314px;
  height: 402px;
  padding-left: 1px;
}
.food-img {
  width: 300px;
}
.read-btn {
  padding-left: 12px;
  margin: 10px;
  background-color: #8a5848;
  padding-top: 5px;
}
footer {
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: rgb(234, 190, 190);
}
footer h3 {
  text-align: center;
  color: #2b2929;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu {
  width: 100%;
  margin-bottom: 10px;
}
.nav-bar {
  background-color: rgb(255, 240, 253);
  height: 60px;
  margin: 0 auto;
  border-radius: 16px;
}
ul {
  margin-left: 49px;
}
ul li {
  display: inline;
  list-style: none;
  padding: 7px;
  line-height: 46px;
  float: left;
}
ul li a {
  color: rgb(34, 30, 30);
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
}
ul li a:hover {
  color: rgb(216, 198, 32);
}
.search-btn {
  display: inline;
  float: right;
  line-height: 60px;
}
.logo {
  width: 65px;
  float: left;
  margin-left: 10px;
}
.input-btn {
  border-radius: 14px;
  padding: 6px;
}
.style-h1 {
  font-family: initial;
}
