@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
h1 h2 {
  font-family: "STIX Two Math", serif;
}
p {
  font-family: "Raleway", sans-serif;
}
.top-section {
  height: 477px;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.top-banner {
  background-image: url("images/shapes/7.png");
}

.feature-area {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
span {
  color: rgb(224, 224, 22);
  font-size: 35px;
}
.link-btn {
  background-image: linear-gradient(orange black);
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 8px 15px;
  border-radius: 16px;
}
.middle-tex {
  padding: 100px 30px;
}
.about-img {
  width: 80%;
}
.about-food {
  height: 450px;
}
.feature-img {
  width: 505px;
  padding: 20px;
}
.about-food {
  background-image: url(images/shapes/Frame\ 59.jpg);
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  background-size: cover;
  padding-bottom: 87px;
}
.orange {
  color: orange;
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
}
.food-lover-said {
  width: 80%;
  margin: 0 auto;
}
.fd-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px 75px;
}
.iteam-box {
  width: 80%;
  margin: 37px 142px;
}

.food-box {
  float: left;
  margin: 20px;
  box-shadow: 12px 12px 2px 1px rgba(25, 25, 172, 0.1);
  width: 300px;
}
.food-img {
  width: 300px;
}
